{% extends "base_market.htm" %}
{% load static %}

{% block content %}
<section class="container mt-96px mb-5 align-items-center">
    <div class="text-center">
        <h3 class="default-color"><b>Listagem de Items a Venda</b></h3>
    </div>
</section>
<section class="container align-items-center">
    <div class="mb-4">
        <h5>Pesquisa de Items</h5>
        <hr class="mt-0">
    </div>
    <form action="" method="GET" class="mb-4">
        <div class="form-group row mb-1">
            <label for="id_name" class="col-lg-2 col-form-label font-weight-bold">Nome</label>
            <div class="col-lg-10">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-10 offset-lg-2">
                <button type="submit" class="btn btn-primary">
                    <div class="d-flex align-items-center">
                        <img width="24" src="{% static 'images/search.png' %}" alt="Pesquisar" class="mr-2">Pesquisar
                    </div>
                </button>
            </div>
        </div>
    </form>
</section>
{% if items %}
<section class="container align-items-center">
    <table class="table table-size table-striped table-sm table-bordered table-responsive mb-4">
        <thead>
            <tr>
                <th class="text-center">Imagem</th>
                <th class="text-center">Categoria</th>
                <th class="text-center">Prime</th>
                <th class="text-center">Nome</th>
                <th class="text-center">Descrição</th>
                <th class="text-center">Preço</th>
                <th class="text-center">Quantidade</th>
                <th class="text-center">Disponível</th>
                <th class="text-center">Criação</th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td class="text-center align-middle table-secondary-field">
                    <img src="{% static item.image.path %}"
                         class="card-img-top img-fluid table-image-size"
                         alt="{{ item.image.name }}">
                </td>
                <td class="text-center align-middle table-secondary-field">
                    {{ item.item_type.name }}
                </td>
                <td class="text-center align-middle table-lower-field">
                    {{ item.item_type.prime }}
                </td>
                <td class="text-center align-middle table-primary-field">
                    {{ item.name }}
                </td>
                <td class="text-center align-middle table-primary-field">
                    {{ item.description }}
                </td>
                <td class="text-center align-middle table-secondary-field">
                    C$ {{ item.price }}
                </td>
                <td class="text-center align-middle table-secondary-field">
                    {{ item.stock }}
                </td>
                <td class="text-center align-middle table-lower-field">
                    {{ item.available }}
                </td>
                <td class="text-center align-middle table-secondary-field">
                    {{ item.created_at | date:'d/m/Y' }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
<section class="container align-items-center">
    <nav aria-label="Paginator">
        {% if items.has_other_pages %}
            <ul class="pagination">
            {% if items.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.previous_page_number }}&name={{ name }}">
                        Anterior
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Anterior</a>
                </li>
            {% endif %}
            {% for i in items.paginator.page_range %}
                {% if items.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}&name={{ name }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if items.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.next_page_number }}&name={{ name }}">
                        Próxima
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Próxima</a>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </nav>
</section>
{% endif %}
{% endblock %}