{% extends "base_market.htm" %}
{% load static %}

{% block content %}
<section class="container mt-96px mb-5 align-items-center">
    <div class="text-center">
        <h3 class="default-color"><b>BEM VINDO AO MARKET</b></h3>
        <div class="row">
            <div class="col">
                <a href="{% url 'market:list_item' %}" class="btn btn-danger">Listar Items</a>
            </div>
            <div class="col">
                <a href="{% url 'market:create_item' %}" class="btn btn-danger">Cadastrar Item</a>
            </div>
        </div>
    </div>
</section>
<section class="container align-items-center">
    <div class="row">
    </div>
</section>
{% endblock %}