{% extends "base_generic.htm" %}
{% load static %}

{% block content %}
<section class="center-page-image">
    <video class="image-adjust" autoplay muted loop poster="{% static 'images/download-image.webp' %}">
        <source src="{% static 'videos/download_revenant.webm' %}" type="video/webm">
        <source src="{% static 'videos/download_revenant.mp4' %}" type="video/mp4">
    </video>
    <div class="container mt--672 center-page-info">
        <div class="text-center info-header">
            <h1 class="py-4">BAIXAR</h1>
        </div>
        <div class="text-center">
            <a type="button"
               class="btn btn-lg red-button my-2 px-5 mx-2 h-50"
               data-bs-toggle="offcanvas"
               href="#loginOffcanvas"
               role="button"
               aria-controls="justAProjectOffCanvas">
                BAIXAR AGORA
            </a>
            <p class="w-75 m-auto">
                O Instalador Autônomo está disponível
                <a type="button"
                   class="btn btn-link text-white p-0 mb-1"
                   data-bs-toggle="collapse"
                   href="#autonomy-downloads"
                   role="button"
                   aria-expanded="false"
                   aria-controls="autonomy-downloads"
                ><b>aqui</b></a>.
                Observe que o processo de
                instalação do Instalador Autônomo é mais lento em comparação ao
                Download normal, e destina-se a locais que necessitam de instalações
                múltiplas, como cibercafés.
            </p>
            <div class="mt-4 collapse" id="autonomy-downloads">
                <ul class="m-auto list-inline">
                    {% for item in download_items %}
                    <li class="list-inline-item">
                        <span class="text-danger">{{ item.title }}</span>
                        {{ item.sub_title }}
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="mt-4 pb-4">
                <h4><b>REQUISITOS DO SISTEMA</b></h4>
                <p class="w-75 m-auto">
                    Sistema Operacional: Windows 7 64 bits (32 bits não suportado)
                    <br>
                    Processador: Intel Core 2 Duo e6400 ou AMD Athlon x64 4000+ (Processador Dual-Core de aprox. 2.2Ghz)
                    <br>
                    Vídeo: Placa Gráfica compatível com o DirectX 11+
                    <br>
                    Memória RAM: 4 GB
                    <br>
                    Armazenamento: 50 GB de espaço disponível em HD
                    <br>
                    Internet: Conexão de Banda Larga
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}