{% extends "base_generic.htm" %}
{% load static %}

{% block content %}
<section class="center-page-image">
    <video class="image-adjust" autoplay muted loop poster="{% static 'images/download-image.webp' %}">
        <source src="{% static 'videos/download_revenant.webm' %}" type="video/webm">
        <source src="{% static 'videos/download_revenant.mp4' %}" type="video/mp4">
    </video>
    <div class="container mt--672 center-page-info">
        <div class="text-center info-header">
            <h1 class="py-4">BAIXAR</h1>
        </div>
        <div class="text-center">
            <a type="button"
               class="btn btn-lg red-button my-2 px-5 mx-2 h-50"
               data-bs-toggle="offcanvas"
               href="#loginOffcanvas"
               role="button"
               aria-controls="justAProjectOffCanvas">
                BAIXAR AGORA
            </a>
            <p class="w-75 m-auto">
                O Instalador Autônomo está disponível
                <a type="button"
                   class="btn btn-link text-white p-0 mb-1"
                   data-bs-toggle="collapse"
                   href="#autonomy-downloads"
                   role="button"
                   aria-expanded="false"
                   aria-controls="autonomy-downloads"
                ><b>aqui</b></a>.
                Observe que o processo de
                instalação do Instalador Autônomo é mais lento em comparação ao
                Download normal, e destina-se a locais que necessitam de instalações
                múltiplas, como cibercafés.
            </p>
            <div class="mt-4 collapse" id="autonomy-downloads">
                <ul class="m-auto list-inline">
                    <li class="list-inline-item">
                        <span class="text-danger">Warframe.2022.07.25.16.59.b00</span>
                        (Tamanho: 2GB MD5: A44F6E0ACB997385D6490E0D396E45FE)
                    </li>
                    <li class="list-inline-item">
                        <span class="text-danger">Warframe.2022.07.25.16.59.b01</span>
                        (Tamanho: 2GB MD5: 67D1C4F4593EF8F87360A7387ADB8D4D)
                    </li>
                    <li class="list-inline-item">
                        <span class="text-danger">Warframe.2022.07.25.16.59.b02</span>
                        (Tamanho: 2GB MD5: 1B7F12DAFF1B3D9D974071B52126C1CF)
                    </li>
                    <li class="list-inline-item">
                        <span class="text-danger">Warframe.2022.07.25.16.59.b03</span>
                        (Tamanho: 2GB MD5: E2FC1053A2C90BF2C2E1E4B0FCE8792A)
                    </li>
                    <li class="list-inline-item">
                        <span class="text-danger">Warframe.2022.07.25.16.59.b04</span>
                        (Tamanho: 2GB MD5: 2826CBB0555923E52E173F6D8D1E2D03)
                    </li>
                    <li class="list-inline-item">
                        <span class="text-danger">Warframe.2022.07.25.16.59.b05</span>
                        (Tamanho: 2GB MD5: C8B973720D1F1A67C8439A1CDC44DD37)
                    </li>
                    <li class="list-inline-item">
                        <span class="text-danger">Warframe.2022.07.25.16.59</span>
                        (Tamanho: 68.79MB MD5: 43F0A2E7089E166DB4BCD8EB339DD9B0)
                    </li>
                </ul>
            </div>

            <div class="mt-4 pb-4">
                <h4><b>REQUISITOS DO SISTEMA</b></h4>
                <p class="w-75 m-auto">
                    Sistema Operacional: Windows 7 64 bits (32 bits não suportado)
                    <br>
                    Processador: Intel Core 2 Duo e6400 ou AMD Athlon x64 4000+ (Processador Dual-Core de aprox. 2.2Ghz)
                    <br>
                    Vídeo: Placa Gráfica compatível com o DirectX 11+
                    <br>
                    Memória RAM: 4 GB
                    <br>
                    Armazenamento: 50 GB de espaço disponível em HD
                    <br>
                    Internet: Conexão de Banda Larga
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}