{% extends "base_generic.htm" %}
{% load static %}

{% block content %}
<section class="center-page-image">
    <video class="image-adjust" autoplay muted loop poster="{% static 'images/home-image.webp' %}">
        <source src="{% static 'videos/home_zariman.webm' %}" type="video/webm" media="all and (min-width: 1440px)">
        <source src="{% static 'videos/home_zariman_medium.webm' %}" type="video/webm">
    </video>
    <div class="center-page-card mt--672">
        <div class="row text-center">
            <div class="col">
                <img src="{% static 'images/zariman-logo.webp' %}" class="small-adjustment" alt="Warframe Zariman">
            </div>
        </div>
        <div class="row text-center w-100">
            <div class="col-md-8 col-sm-12">
                <a type="button" href="https://www.youtube.com/watch?v=0n6f--mi02A"
                   class="btn red-button my-4 mx-2 w-100 h-50">
                    ASSISTA AO TRAILER
                </a>
            </div>
            <div class="col-md-4 col-sm-12">
                <a type="button"
                   class="btn transparent-button my-4 mx-2 w-100 h-50"
                   data-bs-toggle="offcanvas"
                   href="#loginOffcanvas"
                   role="button"
                   aria-controls="loginOffcanvas">
                    SAIBA MAIS
                </a>
            </div>
        </div>
        <div class="row text-center w-100">
            <div class="col w-100">
                <a href="{% url 'news' %}" class="link-light info-links">Conferir o Histórico de Atualizações</a>
            </div>
        </div>
    </div>
</section>

<section class="mt--64px container">
    <div class="row">
        {% for image in home_images %}
        <div class="col-lg-8 col-12">
            <img src="{% static image.image.path %}" class="rounded mb-3 img-fluid" alt="{{ image.image.name }}">
        </div>
        {% endfor %}
        <div class="col-lg-4 col-12">
            {% for sub_image in home_sub_images %}
            <div class="row-cols-1">
                <img src="{% static sub_image.image.path %}" class="rounded mb-3 img-fluid" alt="{{ sub_image.image.name }}">
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="container mt-2">
    <div class="list-group">
        {% for item in home_items %}
        <a href="#" class="list-group-item list-group-item-action">
            <small>{{ item.published_in }}</small>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1"><b>{{ item.title }}</b></h5>
            </div>
            <p class="mb-1">{{ item.sub_title }}</p>
        </a>
        {% endfor %}
    </div>
</section>

<section class="container mt-3 text-center">
    <a href="{% url 'news' %}" class="btn white-button px-5 py-2 mx-3">CONFERIR MAIS NOTÍCIAS</a>
</section>
{% endblock %}