{% load static %}

<section class="container align-items-center">
    <form action="{% url "product:create_product" %}" method="POST" class="pb-4" novalidate>
        <div class="row mb-xl-3">
            <div class="col-xl-6">
                <div class="row">
                    <label for="id_item_type" class="col-xl-2 fw-bold">Categoria</label>
                    <div class="col-xl-10">
                        {{ form.item_type }}
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <label for="id_name" class="col-xl-2 fw-bold">Nome</label>
                    <div class="col-xl-10">
                        {{ form.name }}
                        {% if form.name.errors %}
                            <div class="alert alert-danger mb-0" role="alert" style="padding-top: 2px; padding-bottom: 2px;">
                            {% for error in form.name.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-xl-3">
            <div class="col-xl-6">
                <div class="row">
                    <label for="id_price" class="col-xl-2 fw-bold">Preço</label>
                    <div class="col-xl-10">
                        {{ form.price }}
                        {% if form.price.errors %}
                            <div class="alert alert-danger mb-0" role="alert" style="padding-top: 2px; padding-bottom: 2px;">
                            {% for error in form.price.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="row">
                    <label for="id_stock" class="col-xl-2 fw-bold">Estoque</label>
                    <div class="col-xl-10">
                        {{ form.stock }}
                        {% if form.stock.errors %}
                            <div class="alert alert-danger mb-0" role="alert" style="padding-top: 2px; padding-bottom: 2px;">
                            {% for error in form.stock.errors %}
                                <small>{{ error }}</small>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-xl-6">
                <div class="row">
                    <div class="col-xl-10 offset-xl-2">
                        {% csrf_token %}
                        <button id="createButton" type="button" class="btn btn-danger create-button">
                            Cadastrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
